SUPABASE_URL=https://xbmijnlqzgvbnnsfrnxp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhibWlqbmxxemd2Ym5uc2ZybnhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMDkyMDgsImV4cCI6MjA5Mzg4NTIwOH0.Qrr4hOecmzxVKgFpY4cmGYeBDXcRYNX7T2llAlKCwLg

# AI Configuration
GEMINI_API_KEY=dev_gemini_key_placeholder
OPENAI_API_KEY=dev_openai_key_placeholder


//livekit
LIVEKIT_URL=wss://mini-social-pntm8ezh.livekit.cloud
